<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nalex.mypopularmovies">

    <!--Internet Permission-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:launchMode="singleTop">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.DetailActivity"
            android:parentActivityName=".activity.MainActivity"
            />

        <activity android:name=".activity.WatchListActivity"
            android:parentActivityName=".activity.MainActivity"
            />

        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name="com.nalex.mypopularmovies.data.FavoriteMoviesContentProvider"
            android:authorities="com.nalex.mypopularmovies"
            android:exported="false"/>


    </application>

</manifest>